<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAN8CjrCcWyPl6lJ3eNviLXmJkk1AfiABg</string>
	<key>GCM_SENDER_ID</key>
	<string>395701766185</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sth.Try</string>
	<key>PROJECT_ID</key>
	<string>go--app-e1f77</string>
	<key>STORAGE_BUCKET</key>
	<string>go--app-e1f77.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:395701766185:ios:670a1b9ade8ac3155a3438</string>
</dict>
</plist>